<?xml version="1.0"?>
<config>
    <modules>
        <Magentotutorial_Configviewer>
            <version>1.0</version>
        </Magentotutorial_Configviewer>
    </modules>

    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <Magentotutorial_configviewer_model_observer>
                        <type>singleton</type>
                        <class>Magentotutorial_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </Magentotutorial_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>

    <frontend>
        <routers>
            <magentotutorial_configviewer>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Configviewer</module>
                    <frontName>helloworld</frontName>
                </args>
            </magentotutorial_configviewer>
        </routers>
    </frontend>
</config>